body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: linear-gradient(178deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: backAnimation 28s ease infinite;
    list-style: none;
    text-decoration: none;
}

.poke{
    background-color: #bcd4dd8c;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px;
}

.name-id{
    font-size: 2.2rem;
    font-weight: bolder;
}

#img{
    width: 320px;
    height: 320px;
}

.pokeType{
    margin: 10px;
    background-color: #23d5ab;
    border-radius: 10px;
    width: 150px;
}

.moves{
    margin: 20px 0;
    height: 250px;
    overflow: auto;
    list-style: none;
}

@keyframes backAnimation {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media (max-width: 980px) {

}